html,
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Inter;
}

#app {
  flex: 1 1 0;
  min-height: 0;
}

* {
  box-sizing: border-box;
}
